@model IEnumerable<StaffInformationApp.Models.Project>

@{
  ViewData["Title"] = "Projects";
  int staffId = (int)ViewData["StaffId"];
}

<h1>Projects for Staff @staffId</h1>

<p>
  <a asp-action="Create" asp-route-staffId="@staffId" class="btn btn-primary">Create New Projects</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.First().ProjectTitleAndLocation)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.First().LevelOfResponsibility)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.First().BriefDescriptionOfRole)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.ProjectTitleAndLocation)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LevelOfResponsibility)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.BriefDescriptionOfRole)
        </td>
        <td>
          @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> *@
        </td>
      </tr>
    }
  </tbody>
</table>

<div>
  <a asp-action="Index" asp-controller="Staff" class="btn btn-secondary">Back to Staff</a>
</div>
